<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IChekkers" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IChekkers" contract="Proxy1.IChekkers"
                name="WSDualHttpBinding_IChekkers">
                <identity>
                    <userPrincipalName value="DESKTOP-SLF99Q9\Fallen" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>